// import fonts files

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
		url('../fonts/opensans-light-webfont.woff') format('woff'),
		url('../fonts/opensans-light-webfont.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
		url('../fonts/opensans-lightitalic-webfont.woff') format('woff'),
		url('../fonts/opensans-lightitalic-webfont.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
		url('../fonts/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/opensans-regular-webfont.ttf') format('truetype');
	font-weight: normal; // 400
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
		url('../fonts/opensans-italic-webfont.woff') format('woff'),
		url('../fonts/opensans-italic-webfont.ttf') format('truetype');
	font-weight: normal; // 400
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
		url('../fonts/opensans-bold-webfont.woff') format('woff'),
		url('../fonts/opensans-bold-webfont.ttf') format('truetype');
	font-weight: bold; // 700
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
		url('../fonts/opensans-bolditalic-webfont.woff') format('woff'),
		url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype');
	font-weight: bold; // 700
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
		url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
		url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
		url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff'),
		url('../fonts/opensans-extrabolditalic-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
		url('../fonts/raleway-light-webfont.woff') format('woff'),
		url('../fonts/raleway-light-webfont.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
		url('../fonts/raleway-lightitalic-webfont.woff') format('woff'),
		url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
		url('../fonts/raleway-regular-webfont.woff') format('woff'),
		url('../fonts/raleway-regular-webfont.ttf') format('truetype');
	font-weight: normal; // 400
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
		url('../fonts/raleway-italic-webfont.woff') format('woff'),
		url('../fonts/raleway-italic-webfont.ttf') format('truetype');
	font-weight: normal; // 400
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
		url('../fonts/raleway-bold-webfont.woff') format('woff'),
		url('../fonts/raleway-bold-webfont.ttf') format('truetype');
	font-weight: bold; // 700
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-bolditalic-webfont.woff2') format('woff2'),
		url('../fonts/raleway-bolditalic-webfont.woff') format('woff'),
		url('../fonts/raleway-bolditalic-webfont.ttf') format('truetype');
	font-weight: bold; // 700
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
		url('../fonts/raleway-extrabold-webfont.woff') format('woff'),
		url('../fonts/raleway-extrabold-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-extrabolditalic-webfont.woff2') format('woff2'),
		url('../fonts/raleway-extrabolditalic-webfont.woff') format('woff'),
		url('../fonts/raleway-extrabolditalic-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

:root {
	--font-family-main: 'OpenSans', Open Sans, sans-serif;
	--font-family-secondary: 'Raleway', Raleway, sans-serif;
}