<h2 class="title collapse_title">
	<a 
		href="javascript:void(0);"
		onclick='toggleCollapse( this );' 
		aria-expanded="true"
		title="Masquer les en-têtes du document"
		aria-label="Masquer les en-têtes du document"
		>
		<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
		<span class="icon status error" title="Ce bloc comporte une erreur">
			<svg><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
		</span>
		<span class="icon status success" title="Ce bloc est valide">
			<svg><use href="/static/icons/endi.svg#check"></use></svg>
		</span>
		En-têtes du document
	</a>
</h2>
<div class="collapse_content">
	<div class='content'>
		<div class='errors'></div>
		<form class='form' name='common' action="#" onSubmit="return false;">
			<div class='layout flex'>
				<div class='col-md-6'><div class='date'></div></div>
				<div class='col-md-6'><div class='validity_duration'></div></div>
			</div>
			<div class='layout flex'>
				<div class='col-md-6'><div class='description'></div></div>
				<div class='col-md-6'><div class='address'></div></div>
			</div>
            <div class='layout flex two_cols'>
				<div class='start_date vanishable'></div>
				<div class='end_date vanishable'></div>
				<div class='first_visit vanishable'></div>
				<div class='workplace vanishable'></div>
				<div class='insurance_id vanishable'></div>
            </div>
            {{#if has_available_mentions }}
			<div class="collapsible separate_top content_vertical_padding">
				<h4 class='collapse_title'>
					<a
						href="javascript:void(0);"
						onclick='toggleCollapse( this );' 
						aria-expanded="{{#if is_more_set}}true{{else}}false{{/if}}"
						title="{{#if is_more_set}}Masquer{{else}}Afficher{{/if}} les en-têtes du document"
						aria-label="{{#if is_more_set}}Masquer{{else}}Afficher{{/if}} les en-têtes du document"
						>
						<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
						Mentions facultatives
					</a>
				</h4>
				<div class="collapse_content" {{#if is_more_set}} {{else}}hidden{{/if}}>
					<div>
						<div class='mentions'></div>
					</div>
				</div>
			</div>
            {{/if}}
		</form>
	</div>
</div>
