<script setup>
  import { Suspense } from 'vue'
  import { collectOptions } from '@/helpers/context.js'
  import CustomerFormComponent from '@/components/customer/CustomerFormComponent.vue'

  const options = collectOptions()
  const redirectOnsave = (customer) => {
    if (options.customer_id && options['come_from']) {
      window.location.replace(options['come_from'])
    } else {
      window.location.replace('/customers/' + customer.id)
    }
  }
  const redirectOnCancel = () => {
    if (options['come_from']) {
      window.location.replace(options['come_from'])
    } else {
      window.location.href = options.context_url.replace('/api/v1/', '/')
    }
  }
</script>

<template>
  <Suspense>
    <div>
      <CustomerFormComponent
        :customerId="options.customer_id"
        :url="options.context_url"
        :formConfigUrl="options.form_config_url"
        @saved="redirectOnsave"
        @cancel="redirectOnCancel"
      />
    </div>
    <template #fallback> Chargement... </template>
  </Suspense>
</template>
