<a
    class='{{ option.css }}'
    href='{{#if option.popup}}javascript:void(0);{{else}}{{ option.url }}{{/if}}'
    title="{{ option.title }}"
    {{#if option.confirm_msg}}onclick="return window.confirm('{{ option.confirm_msg }}')"{{/if}}
    {{#if option.attrs}} {{ option.attrs }}{{/if}}>
    <svg><use href="/static/icons/endi.svg#{{ option.icon }}"></use></svg>
    {{ option.label}}
</a>
