<section id="status_form" class="modal_view size_large">
		<div role="dialog" aria-modal="true" aria-labelledby="pdf-preview_title">
			<div class="modal_layout">
				<header>
					<button type='button' class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre" onclick="toggleModal('status_form'); return false;">
						<svg><use href="/static/icons/endi.svg#times"></use></svg>
					</button>
					<h2 id="status-forms_title">{{{popupTitle}}}</h2>
				</header>
				<div class="modal_content_layout">
					<div class="modal_content ">
						<div class="layout flex content_vertical_padding pdf_viewer">
							<div class="preview">
                                <div class="pdfpreview"></div>
							</div>
                        </div>
					</div>
				</div>
                <div class="loader"></div>
			</div>
		</div>
</section>
