<div class="layout flex product-filter">
	<span class="icon">
		<svg><use href="/static/icons/endi.svg#search"></use></svg>
	</span>
	<div class='field-filter'></div>
</div>
<div class='tree-container table_container'></div>
