<table class="hover_table top_align_table">
  <thead>
    <th scope="col" class="col_select">
	  <div class="select-toggle"></div>
	</th>
	<th scope="col" class="col_number quantity" title="Quantité">Q<span class="screen-reader-text">uanti</span>té</th>
    <th scope="col" class="col_text unity">Unité</th>
    <th scope="col" class="col_text">Nom interne</th>
	<th scope="col" class="col_text">Description</th>
	<th scope="col" class="col_number" title="Prix Unitaire Hors Taxes">Prix U<span aria-hidden="true">.</span><span class="screen-reader-text">nitaire</span> H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span></th>
  </thead>
  <tbody></tbody>
</table>

