<td class='col_text label'>{{{ label }}}</td>
<td class='col_number amount'>{{{ amount_label }}}</td>
{{#if edit}}
<td class='col_actions width_two actions'>
	<ul>
		<li>
			<button type='button' class='btn icon only edit' title='Modifier' aria-label='Modifier'>
				<svg><use href="/static/icons/endi.svg#pen"></use></svg>
			</button>
		</li>
		<li>
			<button type='button' class='btn icon only negative delete' title='Supprimer' aria-label='Supprimer'>
				<svg><use href="/static/icons/endi.svg#trash-alt"></use></svg>
			</button>
		</li>
	</ul>
</td>
{{/if}}
