<section id="discount_form" class="modal_view size_middle">
    <div role="dialog" id="discount-forms" aria-modal="true" aria-labelledby="discount-forms_title">
        <div class="modal_layout">
            <header>
                <button
                    type='button'
                    class="icon only unstyled close"
                    title="Fermer cette fenêtre"
                    aria-label="Fermer cette fenêtre"
                    >
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="discount-forms_title">{{ title }}</h2>
            </header>
			<div class='tab-content'>
				<div
					role="tabpanel"
					class="tab-pane fade in active simple-form"
					id="main-discount-container"
					aria-labelledby="main-discount-tabtitle">
				</div>
			</div>
        </div>
    </div>
</section>
