<h4 class="content_vertical_padding">
  Contributions
</h4>
<table class="top_align_table">
  <tbody>
    <tr>
      <th scope="row" title="Total des contributions">
        Total
      </th>
      <td>
        {{{total}}}
      </td>
    </tr>
    {{#if has_contribution}}
      <tr>
        <th scope="row" title="Contribution à la CAE basée sur le Total HT">
          Contribution à la CAE
        </th>
        <td>
          {{{contribution}}}
        </td>
      </tr>
    {{/if}}
    {{#if has_insurance}}
      <tr>
        <th scope="row" title="Montant de l'assurance basée sur le Total HT">
          Assurance
        </th>
        <td>
          {{{insurance}}}
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>