<h4 class="content_vertical_padding">
  Totaux
</h4>
<table class="top_align_table">
  <tbody>
    {{#if ttc_mode}}
      {{#if has_discounts}}
        <tr>
          <th scope="row" title="Total TTC avant remise">
            Total TTC avant remise
          </th>
          <td class="col_number">
            {{{ttc_before}}}
          </td>
        </tr>
      {{/if}}
    {{else}}
      {{#if has_discounts}}
        <tr>
          <th scope="row" title="Total HT avant remise">
            Total HT avant remise
          </th>
          <td class="col_number">
            {{{ht_before}}}
          </td>
        </tr>
      {{/if}}
      <tr>
        <th scope="row" title="Total HT">
          Total HT
        </th>
        <td class="col_number">
          {{{ht}}}
        </td>
      </tr>
    {{/if}}
    {{#each tvas}}
      <tr>
        <th scope="row" title="Total TVA Taux {{{this.label}}}">
          TVA
          {{{this.label}}}
        </th>
        <td class="col_number">
          {{{this.value}}}
        </td>
      </tr>
    {{/each}}
    <tr>
      <th scope="row" title="Total TTC">
        TTC
      </th>
      <td class="col_number">
        {{{ttc}}}
      </td>
    </tr>
  </tbody>
</table>