<td class="col_text">
  {{{description}}}
</td>
<td class="col_number">
  {{#if is_percentage}}
    {{percentage}}%
  {{/if}}
</td>
<td class="col_number">
  {{{total_ht_label}}}
</td>
<td class="col_number">
  {{#if is_percentage}}
    -
  {{else}}
    {{tva_label}}
  {{/if}}
</td>
<td class="col_actions width_two">
  <div class="group">
    <button
      type="button"
      class="btn icon only edit"
      title="Modifier cette remise"
      aria-label="Modifier cette remise"
    >
      <svg>
        <use href="../static/icons/endi.svg#pen"></use>
      </svg>
    </button>
    <button
      type="button"
      class="btn icon only negative delete"
      title="Supprimer cette remise"
      aria-label="Supprimer cette remise"
    >
      <svg>
        <use href="../static/icons/endi.svg#trash-alt"></use>
      </svg>
    </button>
  </div>
</td>
<td class="col_actions row_ordering sort">
  <ul>
    {{#if is_not_first}}
      <li>
        <button
          type="button"
          class="btn icon only up"
          title="Déplacer cette remise vers le haut"
          aria-label="Déplacer cette remise vers le haut"
          tabindex="-1"
        >
          <svg>
            <use href="/static/icons/endi.svg#arrow-up"></use>
          </svg>
        </button>
      </li>
    {{/if}}
    {{#if is_not_last}}
      <li>
        <button
          type="button"
          class="btn icon only down"
          title="Déplacer cette remise vers le bas"
          aria-label="Déplacer cette remise vers le bas"
          tabindex="-1"
        >
          <svg>
            <use href="/static/icons/endi.svg#arrow-down"></use>
          </svg>
        </button>
      </li>
    {{/if}}
  </ul>
</td>