:root {
	--menu-border-width: 5px;
	--menu-mini-width: 2.5rem; // 40px
	--menu-maxi-width: 15.625rem; // 250px
	--menu-slide-margin: -13.125rem; // mini-width - maxi-width; -210px

	--padding-xs: 2.5px;
	--padding-s: 5px;
	--padding-r: 7.5px;
	--padding-m: 10px;
	--padding-l: 15px;
	--padding-xl: 20px;
	--padding-2xl: 25px;
	--padding-3xl: 30px;
	--padding-4xl: 35px;
	--padding-5xl: 40px;
	--padding-6xl: 45px;
	--padding-7xl: 50px;

	--negative-padding-s: -5px;
	--negative-padding-m: -10px;
	--negative-padding-l: -15px;
	--negative-padding-xl: -20px;

	--print-padding-s: 1.25pt;
	--print-padding-r: 2.5pt;
	--print-padding-m: 5pt;
	--print-padding-l: 10pt;
	--print-padding-xl: 15pt;
	--print-padding-2xl: 20pt;

	--variable-horizontal-padding-xs: .3125rem;
	--variable-horizontal-padding-s: .9375rem;
	--variable-horizontal-padding-m: 1.875rem;
	--variable-horizontal-padding-l: 2.8125rem;

	--negative-variable-horizontal-padding-s: -.9375rem;
	--negative-variable-horizontal-padding-m: -1.875rem;

	--variable-vertical-padding-m: .625rem;
	--variable-vertical-padding-l: 1.25rem;
	--variable-vertical-padding-xl: 2.5rem;

	--icon-size-s: 1.125rem;
	--icon-size-m: 1.5rem;
	--icon-size-l: 2rem;
}

// layers (z-index values)
$contentLayer: 5;
$stickyContentLayer: 8;
$actionLayer: 10;
$headerLayer: 12;
$floatingLayer: 20;
$floatingLayerContent: 21;
$floatingNotifLayer: 23;
$floatingMenuLayer: 25;
$maskLayer: 30;
$aboveMaskLayer: 35;
$popinLayer: 40;
$abovePopinLayer: 45;
$spinner: 50;

// debug
$check: rgba(255,0,0,.5);

// pdf export
$print_fontsize: 9pt;
$print_fontsize_table: 8pt;
$print_fontsize_small: 7pt;
$print_fontsize_mid: 10pt;
$print_fontsize_large: 11pt;

$print_background: rgb(255,255,255);
$print_text: rgb(0,0,0);
$print_deepGrey: rgb(68,68,68);
$print_darkGrey: rgb(117,117,117);
$print_lightGrey: rgb(176,176,176);
$print_midFadedGrey: rgb(191,191,191);
$print_fadedGrey: rgb(239,239,239);
$print_veryFadedGrey: rgb(249,249,249);
$print_veryFadedGreyTrans: rgba(249,249,249,.7);
$print_transWhite: rgba(255,255,255,.7);
$print_border: rgb(0,0,0);
$print_fadedBorder: rgb(196,196,196);

// breakpoints
$mobileWidth: 31.25rem;
$tabletMinWidth: 31.3125rem;
$tabletWidth: 50rem;
$desktopMinWidth: 50.0625rem;
$desktopWidth: 62.5rem;
$wideWidth: 75rem;
$extrawideWidth: 87.5rem;

@media ( max-width: $wideWidth ) {
	:root {
		--menu-horizontal-padding: 1rem;
		--menu-horizontal-negative-margin: -1rem;
		--menu-link-padding: calc( 1rem - 5px );
		--menu-sub-link-padding: calc( 1rem + 5px );
	}
}
@media ( min-width: $wideWidth ) {
	:root {
		--menu-horizontal-padding: 2rem;
		--menu-horizontal-negative-margin: -2rem;
		--menu-link-padding: calc( 2rem - 5px );
		--menu-maxi-width: 18.75rem; // 300px
		--menu-slide-margin: -16.25rem; // mini-width - maxi-width; -260px
		--menu-sub-link-padding: calc( 2rem + 10px );
	}
}
