// expenses page blocks
@import 'layout_variables';
@import './variables';

@media print {
	body.caerp[class*="/expenses/"] {
		.expense_header {
			border: .05pt solid $print_veryFadedGrey;
			display: block;
			padding: var(--print-padding-m);

			>div {
				width: 100%;
			}

			ul {
				list-style-type: none;
			}
		}

		.separate_top {
			border: 0 none;
			padding: 0;
		}

		.tab-content .totals,
		.internal-total,
		.activity-total {
			display: none !important;
		}

		.tab-content .tab-pane .layout.flex {
			display: block;
			page-break-after: avoid;
		}

		.grand-total {
			margin: 0;
		}
	}
}