{{!-- Template for both ProductForm and its childs --}}

<form name="current">

    <div class='main_toolbar'>
        <div class="layout flex main_actions">
            <div role='group'>
                <button class='btn btn-primary icon icon_only_mobile' type='submit' value='submit'>
                    <svg><use href="/static/icons/endi.svg#save"></use></svg>Enregistrer
                </button>
				<button class='icon icon_only_mobile' type='reset' value='submit' title="Annuler et revenir en arrière" aria-label="Annuler et revenir en arrière">
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>Annuler
                </button>
            </div>
            <div class='resume' role='group'></div>
            <div role='group' class='other_buttons'></div>
        </div>
        <div class='message-container'></div>
        <div class='errors'></div>
    </div>
    <div class="private">
		<fieldset class='separate_block border_left_block'>
			<h2 class='title'>
				<span class="icon status neutral" title="Ces informations internes n’apparaissent pas dans les documents finaux (Devis/Factures)">
					<svg><use href="/static/icons/endi.svg#eye-slash"></use></svg>
				</span>
				Informations internes
				<small>N’apparaissent pas dans les documents finaux</small>
			</h2>
			<div class='layout flex four_cols'>
				<div class='field-label'></div>
				<div class='field-category_id'></div>
                <div class='field-ref'></div>
                <div class='field-type_'></div>
			</div>
		</fieldset>
    </div>

    <fieldset class='separate_block border_left_block'>
        <h2 class='title'>Vente</h2>
        {{#if complex}}
        <div class='field-title'></div>
        {{/if}}
        <div class='field-description'></div>
        <div class='field-mode'></div>
        <div class="layout flex four_cols">
            <div class="field-margin_rate"></div>
            {{#unless complex}}
            <div class='field-ht'></div>
            {{/unless}}
            <div class='field-tva_id'></div>
            {{#unless complex}}
            <div class='field-ttc'></div>
            {{/unless}}
            <div class='field-product_id'></div>
            <div class='field-unity'></div>
        </div>
    </fieldset>

    {{#if training_form}}
    <fieldset class='separate_block border_left_block'>
        <h2 class='title'>
          Formation
				<small>Insérées dans le devis, sur la ligne produit après la description</small>
        </h2>

        <div class="field-goals"></div>
        <div class="field-content"></div>

        <h3 class='title'>Modalités</h3>

        <div class='layout flex two_cols'>
          <div class="field-duration_hours"></div>
          <div class="field-duration_days"></div>
        </div>
        <div class="field-place"></div>
        <div class='layout flex four_cols'>
          <div class="field-group_size"></div>
          <div class="field-presence_modality"></div>
          <div class="field-modality_one"></div>
          <div class="field-modality_two"></div>
        </div>
        <div class="field-access_delay"></div>

        <h3 class='title'>Public de l'intervention</h3>
        <div class="field-for_who"></div>
        <div class="field-prerequisites"></div>
        <div class="field-accessibility"></div>
        <div class='field-eligibility_process'></div>

        <h3 class='title'>Pédagogie</h3>
        <div class="field-teaching_method"></div>
        <div class="field-results"></div>
        <div class="field-trainer"></div>
        <div class="field-evaluation"></div>

        {{#if is_training}}
          <h3 class='title'>Certification</h3>
          <div class="field-rncp_rs_code"></div>
          <div class="field-certification_date"></div>
          <div class="field-certification_name"></div>
          <div class="field-certificator_name"></div>
          <div class="field-gateways"></div>
        {{/if}}
    </fieldset>
    {{/if}}

    {{#unless complex}}
    <fieldset class='separate_block border_left_block'>
        <h2 class='title'>Achat</h2>
        <div class='layout flex'>
            <div class='field-supplier_id col-md-4'></div>
            <div class='field-supplier_ref col-md-4'></div>
            <div class='field-supplier_unity_amount col-md-4'></div>
        </div>
        <div class='layout flex'>
            <div class='field-supplier_ht col-md-4'></div>
        </div>
    </fieldset>
    {{/unless}}

    {{^service_form}}
    <div class='stocks private'></div>
    {{/service_form}}

    {{#if complex }}
    <div class='items'></div>
    {{/if}}

	<div class="private">
    	<fieldset class='separate_block border_left_block'>
        	<h2 class='title'>
				<span class="icon status neutral" title="Ces informations internes n’apparaissent pas dans les documents finaux (Devis/Factures)">
					<svg><use href="/static/icons/endi.svg#eye-slash"></use></svg>
				</span>
        		Notes
				<small>N’apparaissent pas dans les documents finaux</small>
        	</h2>
	        <div class='field-notes'></div>
    	</fieldset>
	</div>

</form>
