<td class='col_select action'></td>
<td class="col_date">{{{ date }}}</td>
<td class="col_text" title="Sélectionner cette dépense">

    <!-- <label><input type="checkbox"><span class="screen-reader-text">Sélectionner cette dépense</span></label> -->
	<strong>{{ type_label }}</strong>
	{{#if description}}
		<br />
		{{ description }}
	{{/if}}
</td>
<td class="col_text">
    {{#if is_achat}}
        Achats client <span class="business-link"></span>
    {{else}}
        Frais généraux
    {{/if}}
</td>
<td class="col_number">{{{ ht_label }}}</td>
<td class="col_number">
    {{#if has_tva_on_margin }}
        <span class="icon small"
              title="Dépense en mode TVA sur marge : il s'agit d'une TVA estimée, le TTC fait foi."
        >
            <svg><use href="/static/icons/endi.svg#exclamation-circle"></use></svg>
        </span>
    {{/if}}
    {{{ tva_label }}}
</td>
<td class="col_number">{{{ ttc_label }}}</td>
