<h2 class="title collapse_title">
  <a href="javascript:void(0);" onclick='toggleCollapse( this );' aria-expanded="true" title="Afficher les fichiers" aria-label="Afficher les fichiers">
    <svg class="arrow">
      <use href="../static/icons/endi.svg#chevron-down"></use>
    </svg>
    {{#if has_warning}}
      <span class="icon status error" title="Ce bloc comporte une erreur">
        <svg>
          <use href="/static/icons/endi.svg#exclamation-triangle"></use>
        </svg>
      </span>
    {{else}}
      <span class="icon status success" title="Ce bloc est valide">
        <svg>
          <use href="/static/icons/endi.svg#check"></use>
        </svg>
      </span>
    {{/if}}
    Fichiers
    {{#if has_warning}}
      <small>
        Il manque des fichiers requis
      </small>
    {{/if}}
  </a>
</h2>
<div class="collapse_content">
  <div class="content">
    {{#if has_required_files}}
      <h3>
        <span class="label required">
          Fichiers requis
          <span class="icon required">
            <svg>
              <use href="../static/icons/endi.svg#required"></use>
            </svg>
            <span>
              Requis pour la validation
            </span>
          </span>
        </span>
      </h3>
      <div class="table_container">
        <table class="required-files files">
          <thead>
            <tr>
              <th scope="col" class="col_status" title="Statut">
                <span class="screen-reader-text">
                  Statut
                </span>
              </th>
              <th scope="col" class="col_text">
                Type
              </th>
              <th scope="col" class="col_text">
                Nom
              </th>
              <th scope="col">
                <span class="screen-reader-text">
                  Actions
                </span>
              </th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    {{/if}}
    {{#if has_optionnal_files}}
      <div class="separate_top">

        <h3>
          <span class="label">
            Fichiers optionnels
          </span>
        </h3>
        <div class="table_container">
          <table class="optionnal-files files">
            <thead>
              <tr>
                <th scope="col" class="col_text">
                  Type
                </th>
                <th scope="col" class="col_text">
                  Nom
                </th>
                <th scope="col">
                  <span class="screen-reader-text">
                    Actions
                  </span>
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    {{/if}}
    <div class="separate_top">
      {{#if has_other_files}}
        <h3>
          Autres fichiers
        </h3>
      {{else}}
        <p><em>Pas de fichier attaché au document</em></p>
      {{/if}}
      <div class="table_container">
        <table class="other-files files">
          {{#if has_other_files}}
            <thead>
              <tr>
                <th scope="col" class="col_text">
                  Nom
                </th>
                <th scope="col">
                  <span class="screen-reader-text">
                    Actions
                  </span>
                </th>
              </tr>
            </thead>
          {{/if}}
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div class="content_vertical_padding align_right">
      <button type="button" class="btn add-file-btn">
        <svg>
          <use href="../static/icons/endi.svg#paperclip"></use>
        </svg>
        Attacher un fichier
      </button>
    </div>
  </div>
</div>