{{#edit}}
	<div class="dropzone"></div>
	<div class="layout flex two_cols">
		{{else}}
			<div class="layout flex">
{{/edit}}
<div class="vertical_align_center">
	<h2>
		<span class="icon status neutral"><svg>
				<use href="/static/icons/endi.svg#shopping-cart"></use>
			</svg></span>
		Dépenses
	</h2>
</div>
</div>
<div class="table_container">
	{{#edit}}
		<table class="opa hover_table top_align_table">
			{{else}}
				<table class="opa top_align_table">
	{{/edit}}
	<thead>
		{{#if is_not_empty}}
			<tr>
				{{#unless can_validate_attachments}}
					<th scope="col" class="col_status" title="Statut des justificatifs">
						<span class="screen-reader-text">Statut des justificatifs</span>
					</th>
				{{/unless}}
				<th scope="col" class="col_date">Date</th>
				<th scope="col" class="col_text" title="Type de dépense et description">Type<span class="screen-reader-text"> de dépense</span> et description</th>
				<th scope="col" class="col_text">Justificatif</th>
				{{#if can_validate_attachments}}
					<th class="col_text" scope="col" title="Validation des justificatifs">
						<span class="screen-reader-text">Validation des justificatifs</span>
					</th>
				{{/if}}
				{{#if is_achat}}
					<th scope="col" class="col_text">Rattaché à…</th>
				{{/if}}
				<th scope="col" class="col_number" title="Montant Hors Taxes">
					<span class="screen-reader-text">Montant </span>H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
				</th>
				<th scope="col" class="col_number">
					<span class="screen-reader-text">Montant de la </span>TVA
				</th>
				<th scope="col" class="col_number" title="Montant Toutes Taxes Comprises">
					<span class="screen-reader-text">Montant </span>TTC
				</th>
				{{#edit}}
					<th scope="col" class="col_actions width_{{actionColWidth}}" title="Actions">
						<span class="screen-reader-text">Actions</span>
					</th>
				{{/edit}}
			</tr>
		{{/if}}
		<tr class="row_recap">
			{{#if is_empty}}
				<td colspan='{{#if is_achat}}8{{else}}7{{/if}}'></td>
			{{else}}
				{{#if is_achat}}
					<th scope='row' colspan='5' class='col_text'>Total</th>
				{{else}}
					<th scope='row' colspan='4' class='col_text'>Total</th>
				{{/if}}
				<td class='total_ht col_number'>{{{ total_ht }}}</td>
				<td class='col_number'>
					{{#if includes_tva_on_margin }}
						<span class="icon small" title="Inclut des dépenses en mode TVA sur marge : il s'agit d'une TVA estimée, le TTC fait foi.">
							<svg>
								<use href="/static/icons/endi.svg#exclamation-circle"></use>
							</svg>
						</span>
					{{/if}}
					<span class="total_tva">{{{ total_tva }}}</span>
				</td>
				<td class='total_ttc col_number'>{{{ total_ttc }}}</td>
			{{/if}}
			<td class='col_actions width_{{actionColWidth}}'>
				{{#edit}}
					<button class='btn btn-primary add icon' title='Ajouter une dépense dans les {{ category.label }}' aria-label='Ajouter une dépense dans les {{ category.label }}'>
						<svg>
							<use href="/static/icons/endi.svg#plus"></use>
						</svg>
						Ajouter
					</button>
				{{/edit}}
			</td>
		</tr>
	</thead>
	<tbody class='files'></tbody>
	<tbody class='lines'></tbody>
	</table>
</div>