    <div role="dialog" id="expense-forms" aria-modal="true" aria-labelledby="expense-forms_title">
		<div class="modal_layout">
			<header>
				<button tabindex='-1' type="button" class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
					<svg><use href="/static/icons/endi.svg#times"></use></svg>
				</button>
				<h2 id="expense-forms_title">{{ title }}</h2>
			</header>
			{{#if add}}
			<nav>
				<ul class="nav nav-tabs modal-tabs" role="tablist">
					<li role="presentation" class="active main">
						<a href="#mainform-container"
							aria-controls="mainform-container"
							role="tab"
							data-toggle="tab"
							tabindex='-1'
							id="mainform-tabtitle"
							>
							<span class="icon"><svg><use href="/static/icons/endi.svg#shopping-cart"></use></svg></span>
							<span>Dépense</span>
						</a>
					</li>
                    {{#if allow_tel_tab }}
					<li role="presentation" class='tel'>
						<a href="#telform-container"
							aria-controls="telform-container"
							role="tab"
							data-toggle="tab"
							tabindex='-1'
							id="telform-tabtitle"
							>
							<span class="icon"><svg><use href="/static/icons/endi.svg#phone"></use></svg></span>
							<span>Frais télécom</span>
						</a>
					</li>
                    {{/if}}
					{{#if show_bookmarks}}
						<li role="presentation">
							<a href="#bookmark-container"
								aria-controls="bookmark-container"
								role="tab"
								tabindex='-1'
								data-toggle="tab"
								id="bookmark-tabtitle"
								>
								<span class="icon"><svg><use href="/static/icons/endi.svg#star-empty"></use></svg></span>
								Favoris
							</a>
						</li>
					{{/if}}
				</ul>
			</nav>
			{{/if}}
			<div class='tab-content'>
				{{# if show_main }}
				<div
					role="tabpanel"
					class="tab-pane fade in active layout"
					id="mainform-container"
					aria-labelledby="mainform-tabtitle">
				</div>
				{{/if}}
				{{# if show_tel}}
				<div
					role="tabpanel"
					class="tab-pane fade in {{#if show_tel_tab}}active{{/if}} layout"
					id="telform-container"
					aria-labelledby="telform-tabtitle">
				</div>
				{{/if}}
				{{#if show_bookmarks}}
				<div
					role="tabpanel"
					class="tab-pane fade in layout"
					id="bookmark-container"
					aria-labelledby="bookmark-tabtitle">
				</div>
			{{/if}}
			</div>
<!-- 
			<div class="modal-footer">
			</div>
 -->
  		</div>
	</div><!-- /#expense-forms -->
