
<h2 class='title'>
	<span class="icon status neutral" title="Ces informations internes n’apparaissent pas dans les documents finaux (Devis/Factures)">
		<svg><use href="/static/icons/endi.svg#eye-slash"></use></svg>
	</span>
	Stock
	<small>N’apparait pas dans les documents finaux</small>
</h2>
<div class='layout flex'>
	<div class='col-md-4'>        
        <div class="current_stock"></div>
        <div class="add"></div>
    </div>
	<div class='col-md-8'>
        <div class="table_container">
            <table class="hover_table">
                    <caption class='screen-reader-text'>
                        Liste des mouvements de stock
                    </caption>
                    <thead>
                        <tr>
                            <th scope='col' class='col_date'>Date</th>
                            <th scope="col" class="col_text">Description</th>
                            <th scope="col" title="Variation du stock" class="col_number">
                                Variation<span class="screen-reader-text"> du stock</span>
                            </th>
                            <th scope="col" class="col_actions" title="Actions">
                                <span class="screen-reader-text">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
            </table>
            <div class='popin'></div>
        </div>
    </div>
</div>




