<fieldset>
    <div class='combination'></div>
    <div class='layout flex'>
    <div class='form-group'>
        <label for="criterion_type">Type de critère</label>
        <select disabled id="criterion_type">
            <option>{{label}}</option>
        </select>
    </div>
    </div>

</fieldset>
    <div class='delbutton-container'></div>

<div class='children'>
</div>